<div class="flex flex-col md:flex-row gap-8">
    <div class="md:w-1/2">
        <p-card styleClass="mb-4">
            <h1>Card 1</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic dolores quas facere, non enim eligendi et voluptatibus iure doloremque eos, odio numquam sint vitae corrupti praesentium beatae nesciunt velit quo.</p>
        </p-card>
    </div>

    <div class="md:w-1/2">
        <p-card>
            <h1>Card 2</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic dolores quas facere, non enim eligendi et voluptatibus iure doloremque eos, odio numquam sint vitae corrupti praesentium beatae nesciunt velit quo.</p>
            <p-badge value="Badge" severity="info" class="ml-2 mr-2"></p-badge>
        </p-card>
    </div>
</div>