.multiple-image-uploader
    // border: 1px solid red

    .image-previewer-slot
        border: 1px solid blue

    .centered
        display: flex
        flex-direction: column
        align-items: center
        margin-bottom: 1rem

    .image-size-info
        margin-top: 8px
        color: #666
        font-style: italic
        
    .main-button
        margin-bottom: 0.5rem


