@use 'tailwindcss'

@import partials/_setup
@import partials/_resets
@import partials/_overrides
@import partials/_buttons
@import partials/_elements
@import partials/_tables
@import partials/_fonts

@tailwind base
@tailwind components

.p-menubar
    background: transparent !important



    
.hollow-panel
    border: 1px solid #ccc!important
    padding: 10px
    border-radius: 10px

.app-dark
    .hollow-panel
        border: 1px solid #4F4F4F !important