@use 'tailwindcss'

@use 'styles/palette'
@use 'styles/setup'
@use 'styles/resets'
@use 'styles/overrides'
@use 'styles/buttons'
@use 'styles/elements'
@use 'styles/tables'
@use 'styles/fonts'
@use 'styles/forms'


@tailwind base
@tailwind components
@tailwind utilities


.p-menubar
	background: transparent !important

.hollow-panel
	border: 1px solid #ccc!important
	padding: 10px
	border-radius: 10px

.app-dark
	.hollow-panel
		border: 1px solid #4F4F4F !important


.brd
	border: 2px solid red !important