
<div class="flex justify-center">
	<div class="w-full" 
		[ngClass]="{
			'sm:max-w-xs md:max-w-md lg:max-w-lg xl:max-w-xl': formSize == 'SMALL',
			'sm:max-w-sm md:max-w-lg lg:max-w-xl xl:max-w-2xl': formSize == 'MEDIUM'
		}">

		<form class="main-form" [formGroup]="sectionForm">
			<!-- {{ sectionForm.value | json }} -->
			<div class="grid grid-cols-12 gap-4">
				@for(field of formFields; track $index) {
					@if(!field.hidden) {
						@switch (field.type) {
							@case('text') {
								<div [class]="field.class" [ngClass]="{ 'Hidden': field.hidden }"
									class="col-span-12">
									<p-iftalabel class="label"> 
										<input [fluid]="true" [formControlName]="field.name" pInputText class="input-text"
										[placeholder]="field.placeholder" type="text" />
										<label for="username">{{ field.label }}</label>
									</p-iftalabel>
									<app-field-error [field]="sectionForm.get(field.name)"/>
								</div>
							}

							@case('number') {
								<div [class]="field.class" [ngClass]="{ 'Hidden': field.hidden }"
									class="col-span-12">
									<p-iftalabel class="label">
										<input [fluid]="true" [formControlName]="field.name" pInputText class="input-text"
										[placeholder]="field.placeholder" type="number" />
										<label for="username">{{ field.label }}</label>
									</p-iftalabel>
									<app-field-error [field]="sectionForm.get(field.name)"/>
								</div>
							}

							@case('select') {
								<div [class]="field.class" [ngClass]="{ 'Hidden': field.hidden }"
									class="col-span-12">
									<!-- Field: {{ field | json}} -->
									<p-iftalabel class="w-full label">
										@if(field.options.items != null && field.options.items.length > 0) {
											<p-select class="w-full input-select"
												[formControlName]="field.name"
												[options]="field.options.items"
												[optionLabel]="field.options.displayField"
												[placeholder]="field.placeholder"
												[optionValue]="field.options.valueName"
											/>
										} @else {
											<p-select class="w-full input-select"
												[formControlName]="field.name"
												[options]="field.options.data"
												[optionLabel]="field.options.displayField"
												[placeholder]="field.placeholder"
												[optionValue]="field.options.valueName"
											/>
										}	
										<label>{{ field.label }}</label>
									</p-iftalabel>
									<app-field-error [field]="sectionForm.get(field.name)" />
								</div>
							}

							@case('images') {
								<!-- <div [class]="field.class"  class="col-span-12">
									<div class="hollow-panel">
										<app-image-uploader
											[formGroup]="sectionForm"
											[fieldName]="field.name"
											[currentImage]="field.currentImage"
											[useCropper]="field.imageProperties.useCropper ?? false"
											[aspectRatio]="field.imageProperties.aspectRatio ?? 16/9"
											[resizeToWidth]="field.imageProperties.resizeToWidth ?? 400"
											(onImageSelected)="field.onImageSelected ? field.onImageSelected($event) : null"
											(onImageDeleted)="field.onImageDeleted ? field.onImageDeleted($event) : null"
										></app-image-uploader>
									</div>
								</div> -->
								<div [class]="field.class"  class="col-span-12">
									<app-multiple-image-uploader
										[sectionForm]="sectionForm"
										[maxFiles]="5"
										[acceptedExtensions]="['jpeg', 'png']"
										[maxFileSize]="5242880">
									</app-multiple-image-uploader>
								</div>
								<!-- (filesSelected)="onFilesSelected({ fieldName: field.name, files: $event }) -->
								
							}

							@case('file') {
								<div [class]="field.class"  class="col-span-12">
									<div class="hollow-panel">
										<app-file-uploader
											[fieldName]="field.name"
											[files]="files[field.name] || []"
											(onSingleFileSelected)="onSingleFileSelected($event)"
											(onSingleFileDeleted)="onSingleFileDeleted($event)">
										</app-file-uploader>
									</div>
								</div>
							}
						}
					}
				}

				<div class="col-span-12 mt-3">
					<p-button 
						[label]="saveBtnLabel"
						icon="pi pi-check" severity="success"
						(onClick)="submitForm()"
						[loading]="loading"
						class="main-button"
					/>
				</div>
			</div>
		</form>
	</div>
</div>