.p-popover
	border: 0 !important
	&:after, &:before
		display: none

.app-dark
	.p-panel
		border: 0
		border-radius: 10px
		background-color: #1e1e1e !important
	.p-panel-header
		border-radius: 10px 10px 0 0