.field-error-container
	padding: 0 15px
	transition: all ease 0.3s
	min-height: 24px
	.field-error
		opacity: 0
		background-color: #fb4848
		border-radius: 0 0 5px 5px
		font-size: .8rem
		padding: 2px 10px 2px 10px
		color: #fff

.field-error.show
	opacity: 1 !important
	transition: all ease 0.3s
