
<div class="image-uploader">
    <div class="centered">
        <p-button [label]="texts.selectImagesButton" (onClick)="inputImage.click()"></p-button>
    </div>

    <input class="hidden" #inputImage type="file" (change)="fileChangeEvent($event)">
    
    @if(selectedImage) {
        <br>
        <div @fadeIn class="row d-flex justify-content-center align-items-start mb-4">
            <div class="flex flex-col sm:flex-row gap-4 justify-center items-start">
                @if(useCropper && showCropper) {
                    <ng-container>
                        <div class="w-full sm:w-1/2" style="max-width: 400px;">
                            <p class="text-center mb-4">{{ texts.adjustImage }}</p>
                            <image-cropper
                                [imageChangedEvent]="imageChangedEvent"
                                [aspectRatio]="aspectRatio"
                                [resizeToWidth]="resizeToWidth"
                                format="png"
                                (imageCropped)="imageCropped($event)"
                                (imageLoaded)="imageLoaded($event)"
                                (cropperReady)="cropperReady()"
                                (loadImageFailed)="loadImageFailed()"
                            ></image-cropper>
                        </div>
                    </ng-container>
                }
                <div [ngClass]="{ 'w-full': !useCropper || !showCropper, 'w-full sm:w-1/2': useCropper && showCropper }">
                    <p class="text-center">{{ texts.previewImage }}</p>
                    <app-image-previewer [image]="selectedImage" [allowDelete]="true" (deleteImageRequested)="deleteImage()"/>
                </div>
            </div>
        </div>
    }
</div>
