<div class="flex gap-4 ">
    <p-panel header="Panel 1" class="flex-1">
        <div class="card flex justify-center">
            
            <p-button (onClick)="show()" label="Show" severity="primary" class="mr-2"/>
            <p-button (onClick)="show()" label="Primary" severity="primary" class="mr-2"/>
            <p-button (onClick)="show()" label="Secondary" severity="secondary" class="mr-2"/>
            <p-button (onClick)="show()" label="Success" severity="success" class="mr-2"/>
            <p-button (onClick)="show()" label="Info" severity="info" class="mr-2"/>
            
            <p-button (onClick)="show()" label="Help" severity="help" class="mr-2"/>
            <p-button (onClick)="show()" label="Danger" severity="danger"/>
        </div>
    </p-panel>

    <p-panel header="Panel 2" class="flex-1">
        <p class="m-0">
            Lorem ipsum dolor sit amet...
        </p>
    </p-panel>
</div>